@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  position: relative;
  font-family: "Inter", sans-serif;
  height: 100%;
  min-height: 100%;
}

main {
  overflow: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:visited {
  text-decoration: none;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
  color: inherit;
  font-style: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-family: inherit;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

.mobile-only {
  display: block;
}
@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

.tablet-only {
  display: none;
}
@media screen and (min-width: 768px) {
  .tablet-only {
    display: block;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.iti {
  --iti-path-flags-1x: url("../images/flags/flags.png");
  --iti-path-flags-2x: url("../images/flags/flags@2x.png");
  --iti-path-globe-1x: url("../images/flags/globe.webp");
  --iti-path-globe-2x: url("../images/flags/globe@2x.webp");
}

:root {
  --iti-hover-color: rgba(0, 0, 0, 0.05);
  --iti-border-color: #ccc;
  --iti-dialcode-color: #999;
  --iti-dropdown-bg: white;
  --iti-spacer-horizontal: 8px;
  --iti-flag-height: 15px;
  --iti-flag-width: 20px;
  --iti-border-width: 1px;
  --iti-arrow-height: 4px;
  --iti-arrow-width: 6px;
  --iti-triangle-border: calc(var(--iti-arrow-width) / 2);
  --iti-arrow-padding: 6px;
  --iti-arrow-color: #555;
  --iti-input-padding: 6px;
  --iti-right-hand-selected-country-padding: calc(var(--iti-spacer-horizontal) + var(--iti-spacer-horizontal) + var(--iti-flag-width));
  --iti-selected-country-arrow-padding: calc(var(--iti-arrow-padding) + var(--iti-arrow-padding) + var(--iti-flag-width) + var(--iti-spacer-horizontal) + var(--iti-arrow-width) + var(--iti-input-padding));
  --iti-path-flags-1x: url("../images/flags/flags.webp");
  --iti-path-flags-2x: url("../images/flags/flags@2x.webp");
  --iti-path-globe-1x: url("../images/flags/globe.webp");
  --iti-path-globe-2x: url("../images/flags/globe@2x.webp");
  --iti-flag-sprite-width: 5938px;
  --iti-flag-sprite-height: 15px;
  --iti-mobile-popup-margin: 30px;
}

.iti {
  position: relative;
  display: inline-block;
}
.iti * {
  box-sizing: border-box;
}
.iti__hide {
  display: none;
}
.iti__v-hide {
  visibility: hidden;
}
.iti__a11y-text {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
}
.iti input.iti__tel-input,
.iti input.iti__tel-input[type=text],
.iti input.iti__tel-input[type=tel] {
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-right: var(--iti-right-hand-selected-country-padding);
  margin-right: 0;
}
.iti__country-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: var(--iti-border-width);
}
.iti__selected-country {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border-radius: 0;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
}
.iti__selected-country-primary {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 var(--iti-arrow-padding) 0 var(--iti-spacer-horizontal);
}
.iti__arrow {
  margin-left: var(--iti-arrow-padding);
  width: 0;
  height: 0;
  border-left: var(--iti-triangle-border) solid transparent;
  border-right: var(--iti-triangle-border) solid transparent;
  border-top: var(--iti-arrow-height) solid var(--iti-arrow-color);
}
[dir=rtl] .iti__arrow {
  margin-right: var(--iti-arrow-padding);
  margin-left: 0;
}
.iti__arrow--up {
  border-top: none;
  border-bottom: var(--iti-arrow-height) solid var(--iti-arrow-color);
}
.iti__dropdown-content {
  border-radius: 3px;
  background-color: var(--iti-dropdown-bg);
}
.iti--inline-dropdown .iti__dropdown-content {
  position: absolute;
  z-index: 2;
  margin-top: 3px;
  margin-left: calc(var(--iti-border-width) * -1);
  border: var(--iti-border-width) solid var(--iti-border-color);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.iti__search-input {
  width: 100%;
  border-width: 0;
  border-radius: 3px;
  padding: 9px 12px;
}
.iti__search-input + .iti__country-list {
  border-top: 1px solid var(--iti-border-color);
}
.iti__country-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.iti--inline-dropdown .iti__country-list {
  max-height: 185px;
}
.iti--flexible-dropdown-width .iti__country-list {
  white-space: nowrap;
}
@media (max-width: 500px) {
  .iti--flexible-dropdown-width .iti__country-list {
    white-space: normal;
  }
}
.iti__flag-box {
  display: inline-block;
  width: var(--iti-flag-width);
}
.iti__country {
  display: flex;
  align-items: center;
  padding: 8px var(--iti-spacer-horizontal);
  outline: none;
}
.iti__dial-code {
  color: var(--iti-dialcode-color);
}
.iti__country.iti__highlight {
  background-color: var(--iti-hover-color);
}
.iti__flag-box, .iti__country-name {
  margin-right: var(--iti-spacer-horizontal);
}
[dir=rtl] .iti__flag-box, [dir=rtl] .iti__country-name {
  margin-right: 0;
  margin-left: var(--iti-spacer-horizontal);
}
.iti--allow-dropdown input.iti__tel-input,
.iti--allow-dropdown input.iti__tel-input[type=text],
.iti--allow-dropdown input.iti__tel-input[type=tel] {
  padding-right: var(--iti-input-padding);
  padding-left: var(--iti-selected-country-arrow-padding);
  margin-left: 0;
}
[dir=rtl] .iti--allow-dropdown input.iti__tel-input,
[dir=rtl] .iti--allow-dropdown input.iti__tel-input[type=text],
[dir=rtl] .iti--allow-dropdown input.iti__tel-input[type=tel] {
  padding-right: var(--iti-selected-country-arrow-padding);
  padding-left: var(--iti-input-padding);
  margin-right: 0;
}
.iti--allow-dropdown .iti__country-container {
  right: auto;
  left: 0;
}
[dir=rtl] .iti--allow-dropdown .iti__country-container {
  right: 0;
  left: auto;
}
.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])):hover, .iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])):hover button {
  cursor: pointer;
}
.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country-primary:hover,
.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country:has(+ .iti__dropdown-content:hover) .iti__selected-country-primary {
  background-color: var(--iti-hover-color);
}
.iti .iti__selected-dial-code {
  margin-left: 4px;
}
[dir=rtl] .iti .iti__selected-dial-code {
  margin-left: 0;
  margin-right: 4px;
}
.iti--container {
  position: fixed;
  top: -1000px;
  left: -1000px;
  z-index: 1060;
  padding: var(--iti-border-width);
}
.iti--container:hover {
  cursor: pointer;
}

.iti--fullscreen-popup.iti--container {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: var(--iti-mobile-popup-margin);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.iti--fullscreen-popup .iti__dropdown-content {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
}
.iti--fullscreen-popup .iti__country {
  padding: 10px 10px;
  line-height: 1.5em;
}

.iti__flag {
  --iti-flag-offset: 100px;
  --iti-flag-width: 20px;
  --iti-flag-height: 15px;
  height: var(--iti-flag-height);
  width: var(--iti-flag-width);
  box-shadow: 0px 0px 1px 0px #888;
  background-image: var(--iti-path-flags-1x);
  background-repeat: no-repeat;
  background-position: var(--iti-flag-offset) 0;
  background-size: var(--iti-flag-sprite-width) var(--iti-flag-sprite-height);
}

.iti__ad {
  --iti-flag-offset: 0px;
}

.iti__ae {
  --iti-flag-offset: -22px;
}

.iti__af {
  --iti-flag-offset: -44px;
}

.iti__ag {
  --iti-flag-offset: -66px;
}

.iti__ai {
  --iti-flag-offset: -88px;
}

.iti__al {
  --iti-flag-offset: -110px;
}

.iti__am {
  --iti-flag-offset: -132px;
}

.iti__ao {
  --iti-flag-offset: -154px;
}

.iti__aq {
  --iti-flag-offset: -176px;
}

.iti__ar {
  --iti-flag-offset: -198px;
}

.iti__arab {
  --iti-flag-offset: -220px;
}

.iti__as {
  --iti-flag-offset: -242px;
}

.iti__at {
  --iti-flag-offset: -264px;
}

.iti__au {
  --iti-flag-offset: -286px;
}

.iti__aw {
  --iti-flag-offset: -308px;
}

.iti__ax {
  --iti-flag-offset: -330px;
}

.iti__az {
  --iti-flag-offset: -352px;
}

.iti__ba {
  --iti-flag-offset: -374px;
}

.iti__bb {
  --iti-flag-offset: -396px;
}

.iti__bd {
  --iti-flag-offset: -418px;
}

.iti__be {
  --iti-flag-offset: -440px;
}

.iti__bf {
  --iti-flag-offset: -462px;
}

.iti__bg {
  --iti-flag-offset: -484px;
}

.iti__bh {
  --iti-flag-offset: -506px;
}

.iti__bi {
  --iti-flag-offset: -528px;
}

.iti__bj {
  --iti-flag-offset: -550px;
}

.iti__bl {
  --iti-flag-offset: -572px;
}

.iti__bm {
  --iti-flag-offset: -594px;
}

.iti__bn {
  --iti-flag-offset: -616px;
}

.iti__bo {
  --iti-flag-offset: -638px;
}

.iti__bq {
  --iti-flag-offset: -660px;
}

.iti__br {
  --iti-flag-offset: -682px;
}

.iti__bs {
  --iti-flag-offset: -704px;
}

.iti__bt {
  --iti-flag-offset: -726px;
}

.iti__bv {
  --iti-flag-offset: -748px;
}

.iti__bw {
  --iti-flag-offset: -770px;
}

.iti__by {
  --iti-flag-offset: -792px;
}

.iti__bz {
  --iti-flag-offset: -814px;
}

.iti__ca {
  --iti-flag-offset: -836px;
}

.iti__cc {
  --iti-flag-offset: -858px;
}

.iti__cd {
  --iti-flag-offset: -880px;
}

.iti__cefta {
  --iti-flag-offset: -902px;
}

.iti__cf {
  --iti-flag-offset: -924px;
}

.iti__cg {
  --iti-flag-offset: -946px;
}

.iti__ch {
  --iti-flag-offset: -968px;
}

.iti__ci {
  --iti-flag-offset: -990px;
}

.iti__ck {
  --iti-flag-offset: -1012px;
}

.iti__cl {
  --iti-flag-offset: -1034px;
}

.iti__cm {
  --iti-flag-offset: -1056px;
}

.iti__cn {
  --iti-flag-offset: -1078px;
}

.iti__co {
  --iti-flag-offset: -1100px;
}

.iti__cp {
  --iti-flag-offset: -1122px;
}

.iti__cr {
  --iti-flag-offset: -1144px;
}

.iti__cu {
  --iti-flag-offset: -1166px;
}

.iti__cv {
  --iti-flag-offset: -1188px;
}

.iti__cw {
  --iti-flag-offset: -1210px;
}

.iti__cx {
  --iti-flag-offset: -1232px;
}

.iti__cy {
  --iti-flag-offset: -1254px;
}

.iti__cz {
  --iti-flag-offset: -1276px;
}

.iti__de {
  --iti-flag-offset: -1298px;
}

.iti__dg {
  --iti-flag-offset: -1320px;
}

.iti__dj {
  --iti-flag-offset: -1342px;
}

.iti__dk {
  --iti-flag-offset: -1364px;
}

.iti__dm {
  --iti-flag-offset: -1386px;
}

.iti__do {
  --iti-flag-offset: -1408px;
}

.iti__dz {
  --iti-flag-offset: -1430px;
}

.iti__eac {
  --iti-flag-offset: -1452px;
}

.iti__ec {
  --iti-flag-offset: -1474px;
}

.iti__ee {
  --iti-flag-offset: -1496px;
}

.iti__eg {
  --iti-flag-offset: -1518px;
}

.iti__eh {
  --iti-flag-offset: -1540px;
}

.iti__er {
  --iti-flag-offset: -1562px;
}

.iti__es-ct {
  --iti-flag-offset: -1584px;
}

.iti__es-ga {
  --iti-flag-offset: -1606px;
}

.iti__es-pv {
  --iti-flag-offset: -1628px;
}

.iti__es {
  --iti-flag-offset: -1650px;
}

.iti__et {
  --iti-flag-offset: -1672px;
}

.iti__eu {
  --iti-flag-offset: -1694px;
}

.iti__fi {
  --iti-flag-offset: -1716px;
}

.iti__fj {
  --iti-flag-offset: -1738px;
}

.iti__fk {
  --iti-flag-offset: -1760px;
}

.iti__fm {
  --iti-flag-offset: -1782px;
}

.iti__fo {
  --iti-flag-offset: -1804px;
}

.iti__fr {
  --iti-flag-offset: -1826px;
}

.iti__ga {
  --iti-flag-offset: -1848px;
}

.iti__gb-eng {
  --iti-flag-offset: -1870px;
}

.iti__gb-nir {
  --iti-flag-offset: -1892px;
}

.iti__gb-sct {
  --iti-flag-offset: -1914px;
}

.iti__gb-wls {
  --iti-flag-offset: -1936px;
}

.iti__gb {
  --iti-flag-offset: -1958px;
}

.iti__gd {
  --iti-flag-offset: -1980px;
}

.iti__ge {
  --iti-flag-offset: -2002px;
}

.iti__gf {
  --iti-flag-offset: -2024px;
}

.iti__gg {
  --iti-flag-offset: -2046px;
}

.iti__gh {
  --iti-flag-offset: -2068px;
}

.iti__gi {
  --iti-flag-offset: -2090px;
}

.iti__gl {
  --iti-flag-offset: -2112px;
}

.iti__gm {
  --iti-flag-offset: -2134px;
}

.iti__gn {
  --iti-flag-offset: -2156px;
}

.iti__gp {
  --iti-flag-offset: -2178px;
}

.iti__gq {
  --iti-flag-offset: -2200px;
}

.iti__gr {
  --iti-flag-offset: -2222px;
}

.iti__gs {
  --iti-flag-offset: -2244px;
}

.iti__gt {
  --iti-flag-offset: -2266px;
}

.iti__gu {
  --iti-flag-offset: -2288px;
}

.iti__gw {
  --iti-flag-offset: -2310px;
}

.iti__gy {
  --iti-flag-offset: -2332px;
}

.iti__hk {
  --iti-flag-offset: -2354px;
}

.iti__hm {
  --iti-flag-offset: -2376px;
}

.iti__hn {
  --iti-flag-offset: -2398px;
}

.iti__hr {
  --iti-flag-offset: -2420px;
}

.iti__ht {
  --iti-flag-offset: -2442px;
}

.iti__hu {
  --iti-flag-offset: -2464px;
}

.iti__ic {
  --iti-flag-offset: -2486px;
}

.iti__id {
  --iti-flag-offset: -2508px;
}

.iti__ie {
  --iti-flag-offset: -2530px;
}

.iti__il {
  --iti-flag-offset: -2552px;
}

.iti__im {
  --iti-flag-offset: -2574px;
}

.iti__in {
  --iti-flag-offset: -2596px;
}

.iti__io {
  --iti-flag-offset: -2618px;
}

.iti__iq {
  --iti-flag-offset: -2640px;
}

.iti__ir {
  --iti-flag-offset: -2662px;
}

.iti__is {
  --iti-flag-offset: -2684px;
}

.iti__it {
  --iti-flag-offset: -2706px;
}

.iti__je {
  --iti-flag-offset: -2728px;
}

.iti__jm {
  --iti-flag-offset: -2750px;
}

.iti__jo {
  --iti-flag-offset: -2772px;
}

.iti__jp {
  --iti-flag-offset: -2794px;
}

.iti__ke {
  --iti-flag-offset: -2816px;
}

.iti__kg {
  --iti-flag-offset: -2838px;
}

.iti__kh {
  --iti-flag-offset: -2860px;
}

.iti__ki {
  --iti-flag-offset: -2882px;
}

.iti__km {
  --iti-flag-offset: -2904px;
}

.iti__kn {
  --iti-flag-offset: -2926px;
}

.iti__kp {
  --iti-flag-offset: -2948px;
}

.iti__kr {
  --iti-flag-offset: -2970px;
}

.iti__kw {
  --iti-flag-offset: -2992px;
}

.iti__ky {
  --iti-flag-offset: -3014px;
}

.iti__kz {
  --iti-flag-offset: -3036px;
}

.iti__la {
  --iti-flag-offset: -3058px;
}

.iti__lb {
  --iti-flag-offset: -3080px;
}

.iti__lc {
  --iti-flag-offset: -3102px;
}

.iti__li {
  --iti-flag-offset: -3124px;
}

.iti__lk {
  --iti-flag-offset: -3146px;
}

.iti__lr {
  --iti-flag-offset: -3168px;
}

.iti__ls {
  --iti-flag-offset: -3190px;
}

.iti__lt {
  --iti-flag-offset: -3212px;
}

.iti__lu {
  --iti-flag-offset: -3234px;
}

.iti__lv {
  --iti-flag-offset: -3256px;
}

.iti__ly {
  --iti-flag-offset: -3278px;
}

.iti__ma {
  --iti-flag-offset: -3300px;
}

.iti__mc {
  --iti-flag-offset: -3322px;
}

.iti__md {
  --iti-flag-offset: -3344px;
}

.iti__me {
  --iti-flag-offset: -3366px;
}

.iti__mf {
  --iti-flag-offset: -3388px;
}

.iti__mg {
  --iti-flag-offset: -3410px;
}

.iti__mh {
  --iti-flag-offset: -3432px;
}

.iti__mk {
  --iti-flag-offset: -3454px;
}

.iti__ml {
  --iti-flag-offset: -3476px;
}

.iti__mm {
  --iti-flag-offset: -3498px;
}

.iti__mn {
  --iti-flag-offset: -3520px;
}

.iti__mo {
  --iti-flag-offset: -3542px;
}

.iti__mp {
  --iti-flag-offset: -3564px;
}

.iti__mq {
  --iti-flag-offset: -3586px;
}

.iti__mr {
  --iti-flag-offset: -3608px;
}

.iti__ms {
  --iti-flag-offset: -3630px;
}

.iti__mt {
  --iti-flag-offset: -3652px;
}

.iti__mu {
  --iti-flag-offset: -3674px;
}

.iti__mv {
  --iti-flag-offset: -3696px;
}

.iti__mw {
  --iti-flag-offset: -3718px;
}

.iti__mx {
  --iti-flag-offset: -3740px;
}

.iti__my {
  --iti-flag-offset: -3762px;
}

.iti__mz {
  --iti-flag-offset: -3784px;
}

.iti__na {
  --iti-flag-offset: -3806px;
}

.iti__nc {
  --iti-flag-offset: -3828px;
}

.iti__ne {
  --iti-flag-offset: -3850px;
}

.iti__nf {
  --iti-flag-offset: -3872px;
}

.iti__ng {
  --iti-flag-offset: -3894px;
}

.iti__ni {
  --iti-flag-offset: -3916px;
}

.iti__nl {
  --iti-flag-offset: -3938px;
}

.iti__no {
  --iti-flag-offset: -3960px;
}

.iti__np {
  --iti-flag-offset: -3982px;
}

.iti__nr {
  --iti-flag-offset: -4004px;
}

.iti__nu {
  --iti-flag-offset: -4026px;
}

.iti__nz {
  --iti-flag-offset: -4048px;
}

.iti__om {
  --iti-flag-offset: -4070px;
}

.iti__pa {
  --iti-flag-offset: -4092px;
}

.iti__pc {
  --iti-flag-offset: -4114px;
}

.iti__pe {
  --iti-flag-offset: -4136px;
}

.iti__pf {
  --iti-flag-offset: -4158px;
}

.iti__pg {
  --iti-flag-offset: -4180px;
}

.iti__ph {
  --iti-flag-offset: -4202px;
}

.iti__pk {
  --iti-flag-offset: -4224px;
}

.iti__pl {
  --iti-flag-offset: -4246px;
}

.iti__pm {
  --iti-flag-offset: -4268px;
}

.iti__pn {
  --iti-flag-offset: -4290px;
}

.iti__pr {
  --iti-flag-offset: -4312px;
}

.iti__ps {
  --iti-flag-offset: -4334px;
}

.iti__pt {
  --iti-flag-offset: -4356px;
}

.iti__pw {
  --iti-flag-offset: -4378px;
}

.iti__py {
  --iti-flag-offset: -4400px;
}

.iti__qa {
  --iti-flag-offset: -4422px;
}

.iti__re {
  --iti-flag-offset: -4444px;
}

.iti__ro {
  --iti-flag-offset: -4466px;
}

.iti__rs {
  --iti-flag-offset: -4488px;
}

.iti__ru {
  --iti-flag-offset: -4510px;
}

.iti__rw {
  --iti-flag-offset: -4532px;
}

.iti__sa {
  --iti-flag-offset: -4554px;
}

.iti__sb {
  --iti-flag-offset: -4576px;
}

.iti__sc {
  --iti-flag-offset: -4598px;
}

.iti__sd {
  --iti-flag-offset: -4620px;
}

.iti__se {
  --iti-flag-offset: -4642px;
}

.iti__sg {
  --iti-flag-offset: -4664px;
}

.iti__ac {
  --iti-flag-offset: -4686px;
}

.iti__sh-hl {
  --iti-flag-offset: -4708px;
}

.iti__sh-ta {
  --iti-flag-offset: -4730px;
}

.iti__sh {
  --iti-flag-offset: -4752px;
}

.iti__si {
  --iti-flag-offset: -4774px;
}

.iti__sj {
  --iti-flag-offset: -4796px;
}

.iti__sk {
  --iti-flag-offset: -4818px;
}

.iti__sl {
  --iti-flag-offset: -4840px;
}

.iti__sm {
  --iti-flag-offset: -4862px;
}

.iti__sn {
  --iti-flag-offset: -4884px;
}

.iti__so {
  --iti-flag-offset: -4906px;
}

.iti__sr {
  --iti-flag-offset: -4928px;
}

.iti__ss {
  --iti-flag-offset: -4950px;
}

.iti__st {
  --iti-flag-offset: -4972px;
}

.iti__sv {
  --iti-flag-offset: -4994px;
}

.iti__sx {
  --iti-flag-offset: -5016px;
}

.iti__sy {
  --iti-flag-offset: -5038px;
}

.iti__sz {
  --iti-flag-offset: -5060px;
}

.iti__tc {
  --iti-flag-offset: -5082px;
}

.iti__td {
  --iti-flag-offset: -5104px;
}

.iti__tf {
  --iti-flag-offset: -5126px;
}

.iti__tg {
  --iti-flag-offset: -5148px;
}

.iti__th {
  --iti-flag-offset: -5170px;
}

.iti__tj {
  --iti-flag-offset: -5192px;
}

.iti__tk {
  --iti-flag-offset: -5214px;
}

.iti__tl {
  --iti-flag-offset: -5236px;
}

.iti__tm {
  --iti-flag-offset: -5258px;
}

.iti__tn {
  --iti-flag-offset: -5280px;
}

.iti__to {
  --iti-flag-offset: -5302px;
}

.iti__tr {
  --iti-flag-offset: -5324px;
}

.iti__tt {
  --iti-flag-offset: -5346px;
}

.iti__tv {
  --iti-flag-offset: -5368px;
}

.iti__tw {
  --iti-flag-offset: -5390px;
}

.iti__tz {
  --iti-flag-offset: -5412px;
}

.iti__ua {
  --iti-flag-offset: -5434px;
}

.iti__ug {
  --iti-flag-offset: -5456px;
}

.iti__um {
  --iti-flag-offset: -5478px;
}

.iti__un {
  --iti-flag-offset: -5500px;
}

.iti__us {
  --iti-flag-offset: -5522px;
}

.iti__uy {
  --iti-flag-offset: -5544px;
}

.iti__uz {
  --iti-flag-offset: -5566px;
}

.iti__va {
  --iti-flag-offset: -5588px;
}

.iti__vc {
  --iti-flag-offset: -5610px;
}

.iti__ve {
  --iti-flag-offset: -5632px;
}

.iti__vg {
  --iti-flag-offset: -5654px;
}

.iti__vi {
  --iti-flag-offset: -5676px;
}

.iti__vn {
  --iti-flag-offset: -5698px;
}

.iti__vu {
  --iti-flag-offset: -5720px;
}

.iti__wf {
  --iti-flag-offset: -5742px;
}

.iti__ws {
  --iti-flag-offset: -5764px;
}

.iti__xk {
  --iti-flag-offset: -5786px;
}

.iti__xx {
  --iti-flag-offset: -5808px;
}

.iti__ye {
  --iti-flag-offset: -5830px;
}

.iti__yt {
  --iti-flag-offset: -5852px;
}

.iti__za {
  --iti-flag-offset: -5874px;
}

.iti__zm {
  --iti-flag-offset: -5896px;
}

.iti__zw {
  --iti-flag-offset: -5918px;
}

.iti__globe {
  background-image: var(--iti-path-globe-1x);
  background-size: contain;
  background-position: right;
  box-shadow: none;
  height: 19px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2x) {
  .iti__flag {
    background-image: var(--iti-path-flags-2x);
  }
  .iti__globe {
    background-image: var(--iti-path-globe-2x);
  }
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #F2F4F7;
  overflow: inherit;
}
header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: inherit;
}
@media screen and (min-width: 1440px) {
  header .header-container {
    padding: 0 32px;
    justify-content: unset;
  }
}
header .header-logo {
  padding: 24px 0;
}
@media screen and (min-width: 1024px) {
  header .header-logo {
    padding: 32px 0;
  }
}
header .mobile-menu {
  display: none;
  position: fixed;
  top: 73px;
  left: 0;
  width: 100%;
  height: calc(100% - 73px);
  z-index: 100;
  flex-direction: column;
  background-color: #ffffff;
  opacity: 0;
  max-height: 0;
  transition: opacity 300ms ease, max-height 300ms ease;
}
header .mobile-menu.opened {
  max-height: 100%;
  opacity: 1;
  overflow: hidden;
}
header .mobile-menu-icon {
  z-index: 100;
  height: 24px;
  width: 24px;
  font-size: 2px;
  display: block;
  position: relative;
}
@media screen and (min-width: 1024px) {
  header .mobile-menu-icon {
    display: none;
  }
}
header .mobile-menu-icon label {
  width: 10em;
  height: 1.25em;
  background-color: #101828;
  position: absolute;
  cursor: pointer;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .mobile-menu-icon label::before, header .mobile-menu-icon label::after {
  content: "";
  width: 10em;
  height: 1.5em;
  background-color: #101828;
  position: absolute;
  display: block;
  border-radius: 2px;
  color: #101828;
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
}
header .mobile-menu-icon label::before {
  top: -250%;
  left: 0%;
  transform: rotateZ(0deg);
  transform-origin: left top;
}
header .mobile-menu-icon label::after {
  bottom: -250%;
  left: 0%;
  transform: rotateZ(0deg);
  transform-origin: left bottom;
}
header .mobile-menu-icon #toggle:checked ~ label::before {
  content: "";
  background-color: #101828;
  transform: rotateZ(41deg);
  left: 10%;
}
header .mobile-menu-icon #toggle:checked ~ label::after {
  content: "";
  background-color: #101828;
  transform: rotateZ(-41deg);
  left: 10%;
}
header .mobile-menu-icon #toggle:checked ~ label {
  background-color: #ffffff;
}
header .mobile-menu-icon #toggle ~ label {
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
}
header .mobile-menu-icon input {
  display: none;
}
header .mobile-navigation {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}
header .mobile-menu-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
header .mobile-menu-footer .header-logo, header .mobile-menu-footer .text-md:not(.rights-text) {
  padding: 0 16px;
}
header .mobile-menu-footer .header-logo {
  margin-bottom: 24px;
}
header .mobile-menu-footer .text-md:not(.rights-text) {
  margin-bottom: 48px;
}
header .mobile-menu-footer .rights-text {
  color: #667085;
  padding: 40px 16px;
  background-color: #F9FAFB;
}
header .desktop-navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  header .desktop-navigation {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
}
header .desktop-cta {
  display: none;
}
@media screen and (min-width: 1024px) {
  header .desktop-cta {
    margin-left: auto;
    display: block;
  }
}

footer {
  background-color: #ffffff;
}
footer .two-columns-wrapper {
  justify-content: space-between;
  align-items: start;
}
footer .footer-info {
  margin: 48px 0;
}
@media screen and (min-width: 768px) {
  footer .footer-info {
    margin: 64px 0;
  }
}
footer .footer-info p {
  margin-top: 24px;
}
@media screen and (min-width: 1024px) {
  footer .footer-info p {
    margin-top: 32px;
    max-width: 320px;
  }
}
footer .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  margin: 0 0 48px 0;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  footer .footer-nav {
    margin: 64px 0;
    flex-direction: column;
    gap: 16px;
  }
}
footer .footer-nav .group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-basis: 50%;
}
@media screen and (min-width: 1024px) {
  footer .footer-nav .group {
    flex-basis: unset;
    flex-direction: row;
    gap: 126px;
  }
}
footer .footer-copyright {
  color: #667085;
  padding: 40px 0;
  background-color: #F9FAFB;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  footer .footer-copyright {
    padding: 48px 0;
  }
}

h1,
.title-xl {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  font-weight: 600;
  color: #101828;
}
@media screen and (min-width: 768px) {
  h1,
  .title-xl {
    font-size: 60px;
    line-height: 72px;
  }
}

.title-lg,
.lead-form-title {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  font-weight: 600;
  color: #101828;
}
@media screen and (min-width: 768px) {
  .title-lg,
  .lead-form-title {
    font-size: 48px;
    line-height: 60px;
  }
}

h2,
.title-md,
.carousel-title {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
  color: #101828;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 768px) {
  h2,
  .title-md,
  .carousel-title {
    font-size: 48px;
    line-height: 60px;
  }
}

.display-xl {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  color: #4E6CFF;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 768px) {
  .display-xl {
    font-size: 60px;
    line-height: 72px;
  }
}

.display-md {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: #101828;
  letter-spacing: -0.02em;
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #101828;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 20px;
    line-height: 30px;
  }
}

.text-lg {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #101828;
}

.text-md {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #475467;
}

.text-sm {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #4E6CFF;
}

.quote-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  font-style: italic;
  color: #101828;
}
@media screen and (min-width: 768px) {
  .quote-text {
    font-size: 36px;
    line-height: 44px;
  }
}

.italic {
  font-style: italic;
}

.semibold {
  font-weight: 600;
}

.logo a {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.navigation-link {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #101828;
}
@media screen and (min-width: 1024px) {
  .navigation-link {
    font-size: 16px;
    line-height: 24px;
    color: #475467;
  }
}
.navigation-link:hover {
  color: #667085;
}

.button-cta {
  width: 100%;
  display: block;
  cursor: pointer;
  padding: 12px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background-color: #4E6CFF;
  color: #ffffff;
  text-align: center;
}
.button-cta:hover, .button-cta:focus {
  background-color: #7088FF;
}
.button-cta:active {
  background-color: #3D57CC;
}
@media screen and (min-width: 768px) {
  .button-cta {
    width: auto;
    padding: 16px 28px;
    font-size: 18px;
    line-height: 28px;
  }
}
.button-cta img {
  pointer-events: none;
  margin-left: 8px;
  width: 11.6px;
  height: 11.6px;
}
@media screen and (min-width: 768px) {
  .button-cta img {
    margin-left: 12px;
    width: 14px;
    height: 14px;
  }
}
.button-cta.white {
  background-color: #ffffff;
  color: #4E6CFF;
  border: none;
}
.button-cta.white:hover, .button-cta.white:focus {
  background-color: #EEF1FF;
}
.button-cta.white:active {
  background-color: #F2F4F7;
  color: #475467;
}
@media screen and (min-width: 768px) {
  .button-cta.small {
    width: auto;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (min-width: 768px) {
  .button-cta.small img {
    width: 11.6px;
    height: 11.6px;
  }
}

.scroll-top-btn {
  padding: 17px;
  border: 1px solid gray;
  border-radius: 8px;
  display: block;
  position: fixed;
  background-color: #ffffff;
  bottom: 24px;
  right: 16px;
  cursor: pointer;
  z-index: 50;
}
.scroll-top-btn:hover {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1024px) {
  .scroll-top-btn {
    padding: 21px;
    right: 40px;
    bottom: 48px;
  }
}
.scroll-top-btn img {
  width: 14px;
  height: 14px;
}

input {
  width: 100%;
}
input:focus {
  outline: none;
}
input[type=range] {
  border-color: #EEF1FF;
  background-color: #EEF1FF;
}
input.calculator-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #EEF1FF;
  border-radius: 4px;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;
  position: relative;
  /* Track Webkit browsers */
  /* Track: Mozilla Firefox */
}
input.calculator-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 24px;
  width: 24px;
  background-color: #ffffff;
  background: #ffffff;
  border: 1px solid #4E6CFF;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
input.calculator-slider::-moz-range-thumb {
  background: unset !important;
  background-color: #EEF1FF !important;
  border-radius: 4px;
  box-shadow: -400px 0 0 400px #4E6CFF;
}

.two-columns-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .two-columns-wrapper {
    flex-direction: row;
  }
  .two-columns-wrapper > div {
    flex-basis: 50%;
  }
}

.three-columns {
  display: grid;
  gap: 64px;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 1024px) {
  .three-columns {
    grid-template-columns: repeat(3, 1fr);
    gap: unset;
    row-gap: 32px;
    -moz-column-gap: 64px;
         column-gap: 64px;
  }
}

.four-columns {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
  .four-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .four-columns {
    grid-template-columns: repeat(4, 1fr);
  }
}

.icon-wrapper {
  background-color: #EEF1FF;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;
}
.icon-wrapper img {
  width: 24px;
  height: 24px;
}
.icon-wrapper:after {
  position: absolute;
  display: block;
  content: "";
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #EEF1FF;
  border-radius: 50%;
}

.badge {
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #EEF1FF;
  color: #4E6CFF;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
}

.cta-form label {
  display: inline-block;
  margin-bottom: 6px;
}
.cta-form button.button-cta {
  width: 100%;
  margin-top: 32px;
  border: none;
}

input[type=text],
input[type=email],
input[type=phone] {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 24px;
  background-color: #ffffff;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #475467;
}

.iti {
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.section .container {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (min-width: 1024px) {
  .section .container {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.img-wrapper img {
  display: block;
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
}

.hero .hero-img-wrapper {
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .hero .hero-img-wrapper {
    padding: 0 48px;
  }
}
@media screen and (min-width: 1024px) {
  .hero .hero-img-wrapper {
    padding: 0 104px;
  }
}
.hero .hero-img-wrapper img {
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-section .badge {
  margin-bottom: 16px;
}
.text-section h1, .text-section h2, .text-section h3, .text-section h4 {
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .text-section h1, .text-section h2, .text-section h3, .text-section h4 {
    margin-bottom: 24px;
  }
}
.text-section .text {
  margin-bottom: 32px;
  text-align: center;
  color: #475467;
}
@media screen and (min-width: 1024px) {
  .text-section .text {
    margin-bottom: 48px;
    max-width: 60%;
  }
}

.news {
  background-color: #F9FAFB;
}
@media screen and (min-width: 1024px) {
  .news .container {
    padding-bottom: 36px;
  }
}
.news .slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .news .slide {
    padding: 0 48px;
  }
}
@media screen and (min-width: 1024px) {
  .news .slide {
    padding: 0 104px;
  }
}
.news .slide .slide-icon {
  width: 234px;
  margin-bottom: 32px;
}
.news .slide .carousel-title {
  margin-bottom: 32px;
}
.news .slide .source {
  margin-bottom: 4px;
}
.news .slide .caption {
  margin-bottom: 32px;
}
.news .carousel-buttons {
  display: none;
}
@media screen and (min-width: 768px) {
  .news .carousel-buttons {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .about-us .text-section .text {
    margin-bottom: 64px;
  }
}
.about-us .about-us-img-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
@media screen and (min-width: 1024px) {
  .about-us .about-us-img-wrapper {
    margin-bottom: 142px;
  }
}
.about-us .about-us-img-wrapper img {
  max-width: 800px;
  display: block;
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
}
.about-us .highlights .highglight-item {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .about-us .highlights .highglight-item:nth-of-type(2) {
    margin-right: 16px;
  }
  .about-us .highlights .highglight-item:nth-of-type(3) {
    margin-left: 16px;
  }
}
.about-us .highlights .highglight-item .display-xl {
  margin-bottom: 12px;
}
.about-us .highlights .highglight-item .text-lg {
  margin-bottom: 8px;
}
.about-us .highlights .highglight-item .text-md {
  color: #475467;
}

.features {
  background-color: #F9FAFB;
}
.features .text-section .text {
  margin-bottom: 64px;
}
.features .features-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.features .features-item .text {
  margin-bottom: 4px;
  font-weight: 600;
}

.ceo-quote .two-columns-wrapper {
  flex-direction: column-reverse;
  gap: 64px;
}
@media screen and (min-width: 768px) {
  .ceo-quote .two-columns-wrapper {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1024px) {
  .ceo-quote .two-columns-wrapper {
    flex-direction: row;
    gap: 96px;
    align-items: center;
  }
}
.ceo-quote .quote {
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-left: 2px solid #4E6CFF;
}
.ceo-quote .ceo-quote-img-wrapper img {
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
}

.calculator-section {
  background-color: #F9FAFB;
}
.calculator-section .two-columns-wrapper {
  gap: 64px;
}
@media screen and (min-width: 1024px) {
  .calculator-section .two-columns-wrapper {
    gap: 96px;
  }
}
@media screen and (min-width: 1440px) {
  .calculator-section .two-columns-wrapper {
    gap: 148px;
  }
}
.calculator-section .text-section {
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .calculator-section .text-section {
    justify-content: flex-start;
    align-items: unset;
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .calculator-section .text-section .badge {
    margin: 0 auto 12px 0;
  }
}
.calculator-section .text-section .text {
  margin-bottom: 64px;
  max-width: unset;
}
@media screen and (min-width: 1024px) {
  .calculator-section .text-section .text {
    text-align: left;
  }
}
.calculator-section .text-section h4 {
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .calculator-section .text-section h4 {
    text-align: left;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .calculator-section .text-section .button-cta {
    margin-top: auto;
    width: -moz-max-content;
    width: max-content;
  }
}
.calculator-section .calculator {
  background-color: #ffffff;
  border: 1px solid #D0D5DD;
  border-radius: 16px;
  height: -moz-max-content;
  height: max-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.calculator-section .calculator .input-wrapper {
  margin: 32px 24px;
}
.calculator-section .calculator .input-wrapper:nth-of-type(2) {
  margin: 0 24px 32px;
}
.calculator-section .calculator .input-wrapper .labels-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.calculator-section .calculator .input-wrapper .labels-wrapper label {
  color: #475467;
}
.calculator-section .calculator .input-wrapper .labels-wrapper #amount-value, .calculator-section .calculator .input-wrapper .labels-wrapper #period-value {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #101828;
}
.calculator-section .calculator .output {
  border-top: 1px solid #D0D5DD;
  padding: 32px 24px;
  text-align: center;
}
.calculator-section .calculator .output .income-title {
  margin-bottom: 8px;
}
.calculator-section .calculator .output #weekly-income {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
  font-weight: 600;
  color: #101828;
}

/* Manual section*/
.manual {
  background-color: #ffffff;
}
.manual .text-section {
  margin-bottom: 32px;
}
.manual .two-columns-wrapper {
  gap: 64px;
}
@media screen and (min-width: 1024px) {
  .manual .two-columns-wrapper {
    flex-direction: row-reverse;
  }
}
.manual .features-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .manual .features-list {
    gap: 48px;
  }
}
.manual .features-list .features-item {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
}
.manual .features-list .features-item .icon-wrapper {
  min-width: 40px;
}
.manual .features-list .features-item .text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.manual .features-list .features-item .text-wrapper .text {
  font-weight: 600;
}

.pricing {
  background-color: #F9FAFB;
}
.pricing .text-section {
  margin-bottom: 32px;
}
.pricing .pricing-card {
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #E4E7EC;
}
.pricing .pricing-card .icon-wrapper {
  padding: 0 16px;
  min-width: 40px;
  margin-top: 36px;
  margin-bottom: 28px;
}
.pricing .pricing-card .plan-name {
  padding: 0 16px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #4E6CFF;
  margin-bottom: 8px;
}
.pricing .pricing-card .card-price {
  padding: 0 16px;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #101828;
  margin-bottom: 8px;
}
.pricing .pricing-card .features-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0;
}
.pricing .pricing-card .features-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.pricing .pricing-card .features-item img {
  width: 24px;
}
.pricing .pricing-card .cta {
  padding: 32px 16px;
  width: 100%;
  background-color: #F9FAFB;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 16px 16px -12px rgba(16, 24, 40, 0.08);
}
.pricing .pricing-card .cta button {
  width: 100%;
}
.pricing .slick-slider {
  margin: 0 -8px;
}
@media screen and (min-width: 768px) {
  .pricing .slick-slider {
    margin: 0 -16px;
  }
}
.pricing .slick-slide {
  margin: 0 8px;
}
@media screen and (min-width: 768px) {
  .pricing .slick-slide {
    margin: 0 16px;
  }
}
.pricing .slick-list {
  padding-bottom: 48px !important;
  margin-bottom: -48px !important;
}

.license .two-columns-wrapper {
  gap: 64px;
}
@media screen and (min-width: 1024px) {
  .license .two-columns-wrapper {
    gap: 96px;
  }
}
@media screen and (min-width: 1440px) {
  .license .two-columns-wrapper {
    gap: 148px;
  }
}
.license .text-section {
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .license .text-section {
    justify-content: flex-start;
    align-items: unset;
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .license .text-section .badge {
    margin: 0 auto 12px 0;
  }
}
.license .text-section .text {
  margin-bottom: 64px;
  max-width: unset;
}
@media screen and (min-width: 1024px) {
  .license .text-section .text {
    text-align: left;
  }
}
.license .text-section h4 {
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .license .text-section h4 {
    text-align: left;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .license .text-section .button-cta {
    margin-top: auto;
    width: -moz-max-content;
    width: max-content;
  }
}

.testimonals {
  background-color: #F9FAFB;
}
.testimonals .text-section .text {
  margin-bottom: 64px;
}
.testimonals .slick-list {
  padding-bottom: 48px !important;
  margin-bottom: -48px !important;
}
.testimonals .slick-slider {
  margin: 0 -8px;
}
@media screen and (min-width: 768px) {
  .testimonals .slick-slider {
    margin: 0 -16px;
  }
}
.testimonals .slick-slide {
  margin: 0 8px;
}
@media screen and (min-width: 768px) {
  .testimonals .slick-slide {
    margin: 0 16px;
  }
}
.testimonals .testimonials-card {
  border: 1px solid #D0D5DD;
  border-radius: 16px;
  padding: 24px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 16px 16px -12px rgba(16, 24, 40, 0.08);
}
.testimonals .testimonials-card .avatar {
  width: 80px;
  margin-bottom: 20px;
}
.testimonals .testimonials-card .card-text {
  font-family: "Inter", sans-serif;
  color: #101828;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
.testimonals .testimonials-card .card-name {
  color: #101828;
  font-weight: 600;
}
.testimonals .testimonials-card .caption {
  font-weight: 400;
}

.cta-section {
  background-color: #4E6CFF;
}
.cta-section .two-columns-wrapper {
  gap: 48px;
}
@media screen and (min-width: 1024px) {
  .cta-section .two-columns-wrapper {
    flex-direction: row;
    gap: 96px;
    align-items: flex-start;
  }
}
.cta-section .cta-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .cta-section .cta-text {
    margin-bottom: 0;
    text-align: left;
  }
}
.cta-section .cta-text h5, .cta-section .cta-text p {
  color: #ffffff;
}
.cta-section .cta-form label {
  color: #D0D5DD;
}

.lead-form-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.lead-form-page main {
  flex: 1 0 100%;
}

.lead-form .two-columns-wrapper {
  gap: 48px;
}
@media screen and (min-width: 1024px) {
  .lead-form .two-columns-wrapper {
    gap: 104px;
  }
}
.lead-form .img-wrapper {
  display: none;
}
@media screen and (min-width: 1024px) {
  .lead-form .img-wrapper {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .lead-form .content-wrapper .text-section h1 {
    text-align: left;
    font-size: 48px;
    line-height: 60px;
  }
  .lead-form .content-wrapper .text-section .text {
    text-align: left;
    min-width: 100%;
  }
}/*# sourceMappingURL=main.css.map */