.iti {
    --iti-path-flags-1x: url('../../images/flags.webp');
    --iti-path-flags-2x: url('../../images/flags@2x.webp');
    --iti-path-globe-1x: url('../../images/globe.webp');
    --iti-path-globe-2x: url('../../images/globe@2x.webp');
  }