// colors

$text: #101828;
$textSecondary: #475467;
$white: #ffffff;
$black: #000000;
$blue: #4E6CFF;
$blueLight: #EEF1FF;
$blueGray: #475467;
$gray: #D0D5DD;

$font: "Inter", sans-serif;


//Media device sizes
$desktop-xxl: 1920px;
$desktop-large: 1440px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 375px;

// Animation
$animation-duration: 250ms;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
