// colors

$text: #101828;
$textSecondary: #475467;
$white: #ffffff;
$black: #000000;
$blue: #4E6CFF;
$blueHover: #7088FF;
$blueActive: #3D57CC;
$blueLight: #EEF1FF;
$blueGray: #475467;
$gray: #D0D5DD;
$grayLightText: #667085;
$grayLightMobileBG: #F9FAFB;
$grayBorder: #F2F4F7;
$cardBorder: #E4E7EC;

$font: "Inter", sans-serif;


//Media device sizes
$desktop-xxl: 1920px;
$desktop-large: 1440px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 375px;

// Animation
$animation-duration: 300ms;
$header-menu-animation: cubic-bezier(1, 0, 0, 1);
