// Default sections paddings 
.section {
    .container {
        padding-top: 64px;
        padding-bottom: 64px;

        @media screen and (min-width: $desktop) {
            padding-top: 96px;
            padding-bottom: 96px;
        }
    }
}

.hero {
    .hero-img-wrapper {
        margin-top: 64px;

        @media screen and (min-width: $tablet) {
            padding: 0 48px;
        }

        @media screen and (min-width: $desktop) {
            padding: 0 104px;
        }

        img {
            box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
        }
    }
}

// Reusable section
.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .badge {
        margin-bottom: 16px;
    }

    h1, h2, h3, h4 {
        margin-bottom: 16px;
        text-align: center;
        @media screen and (min-width: $desktop) {
           margin-bottom: 24px;
        }
    }

    .text {
        margin-bottom: 32px;
        text-align: center;
        @media screen and (min-width: $desktop) {
            margin-bottom: 48px;
            max-width: 60%;
         }
    }
}

.news {
    background-color: $grayLightMobileBG;

    @media screen and (min-width:$desktop) {
        .container {
            padding-bottom: 36px;
        }
        
    }
   
    .slide {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: $tablet) {
                padding: 0 48px;
        }

        @media screen and (min-width: $desktop) {
                padding: 0 104px;
        }

        .slide-icon {
            width: 234px;
            margin-bottom: 32px;
        }

        .carousel-title {
            margin-bottom: 32px;
        }

        .source {
            margin-bottom: 4px;
        }

        .caption {
            margin-bottom: 32px;
        }
    }
}

.about-us {

    .text-section .text {
        @media screen and (min-width: $desktop) {
            margin-bottom: 64px;
        }
    }
    .about-us-img-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 64px;

        @media screen and (min-width: $desktop) {
            margin-bottom: 142px;
        }

        img {
            max-width: 800px;
            display: block;
            box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
        }
    }

    .highlights {
       .highglight-item {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        // custom gap between 2nd and 3rd items on desktop
        @media screen and (min-width:$desktop) {
            &:nth-of-type(2) {
                margin-right: 16px;
            }
            &:nth-of-type(3) {
                margin-left: 16px;
            }
        }


        .display-xl {
            margin-bottom: 12px;
        }
        .text-lg {
            margin-bottom: 8px;
        }
        .text-md {
            color: $blueGray;
        }
       } 
    }
}

.features {
    background-color: $grayLightMobileBG;
    .text-section .text {
        margin-bottom: 64px;
    }

    .features-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        
        .icon-wrapper {
            background-color: $blueLight;
            position: relative;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 23px;

            img {
                width: 24px;
                height: 24px;
            }

            &:after {
                position: absolute;
                display: block;
                content: '';
                height: calc(100% + 10px);
                width: calc(100% + 10px);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 2px solid $blueLight;
                border-radius: 50%;
            }
        }
      
        .text {
            margin-bottom: 4px;
        }
    }
}

.ceo-quote {
    .two-columns-wrapper {
        flex-direction: column-reverse;
        gap: 64px;

        @media screen and (min-width:$tablet) {
           padding: 0 32px;
        }

        @media screen and (min-width:$desktop) {
            flex-direction: row;
            gap: 96px;
            align-items: center;
        }
    }
    .quote {
        padding: 8px 20px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        border-left: 2px solid $blue;
    }
    .ceo-quote-img-wrapper {
        img {
            box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
        }
    }
}

.calculator-section {
    background-color: $grayLightMobileBG;

    .two-columns-wrapper {
        gap: 64px;

        @media screen and (min-width:$desktop) {
            gap: 96px;
        }

        @media screen and (min-width:$desktop-large) {
           gap: 148px;
        }
    }

    .text-section {
        align-items: center;

        @media screen and (min-width:$desktop) {
           justify-content: flex-start;
           align-items: unset;
           text-align: left;
        }

        .badge {
            @media screen and (min-width:$desktop) {
                margin: 0 auto 12px 0;
            }
        }

        .text {
            margin-bottom: 64px;
            max-width: unset;

            @media screen and (min-width:$desktop) {
               text-align: left;
            }
        }

        h4 {
            margin-bottom: 16px;
            @media screen and (min-width:$desktop) {
                text-align: left;
                margin-bottom: 20px;
             }
        }
        

        .button-cta {
            @media screen and (min-width:$desktop) {
                margin-top: auto;
                width: max-content;
            }
        }
        
    }

    .calculator {
        background-color: $white;
        border: 1px solid $gray;
        border-radius: 16px;
        height: max-content;

        .input-wrapper {
            margin: 32px 24px;

            &:nth-of-type(2){
                margin: 0 24px 32px;
            }

            .labels-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 16px;

                label {
                    color: $blueGray;
                }

                #amount-value, #period-value {
                    font-family: $font;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 600;
                    color: $text;
                }
            }
        }
        .output {
            border-top: 1px solid $gray;
            padding: 32px 24px;
            text-align: center;

           .income-title {
                margin-bottom: 8px;
           }

           #weekly-income {
            font-family: $font;
            font-size: 48px;
            line-height: 60px;
            letter-spacing: -0.02em;;
            font-weight: 600;
            color: $text;
           }
        }
    }
}